#my-div
  padding 0px
  background url(resources/images/backgrounds/texture_grain_200x200_v2.png)
  height 649px
  width 100%
  text-align center

#my-div pre
  margin 0px

#my-div-to-hide
  padding 30px 10px 10px 10px
  width 100%
  height 100%
  left 0px
  top 0px
