{
    /////////////////////////////////////////////
    // LOGIN
    /////////////////////////////////////////////
    "login": {
        "title": "Login",
        "username": "Username",
        "password": "Password",
        "passwordHint": "Hint: password",
        "keepmeloggedin": "Keep me logged in",
        "submit": "Log In",
        "reset": "Clear",
        "loggingIn" : "Logging In...",
        "credentialsRequired": "Please enter your username and password.",
        "loginFailed": "Login failed. Please enter the correct credentials."
    },

    /////////////////////////////////////////////
    // MAIN SLIDE
    /////////////////////////////////////////////
    "mainSlide": {
        "title": "Mains",
        "title1": "Mains1",	
        "title2": "Mains2",
        "title3": "Mains3",	
        "title4": "Mains4",			
        "logOut": "Log Out",
        "new": "New",
        "search": "live search",
        "Name": "Name",
        "loading": "Loading Mains...",
        "noMains": "No Mains found."
    },	
	
    /////////////////////////////////////////////
    // MAIN LIST
    /////////////////////////////////////////////
    "mainList": {
        "title": "Mains",
        "logOut": "Log Out",
        "new": "New",
        "search": "live search",
        "Name": "Name",
        "loading": "Loading Mains...",
        "noMains": "No Mains found."
    },

    /////////////////////////////////////////////
    // MAIN TILE
    /////////////////////////////////////////////
    "mainTile": {
        "title": "Mains",
        "logOut": "Log Out",
        "new": "New",
        "search": "live search",
        "Name": "Name",
        "loading": "Loading Mains...",
        "noMains": "No Mains found."
    },

    /////////////////////////////////////////////
    // MAIN ITEMS
    /////////////////////////////////////////////
    "mainItem1": {
        "title": "Item 1",
    },	
    "mainItem2": {
        "title": "Item 2",
    },
    "mainItem3": {
        "title": "Item 3",
    },		
    "mainItem4": {
        "title": "Item 4",
    },	
    /////////////////////////////////////////////
    // MAIN DETAIL
    /////////////////////////////////////////////
    "mainDetail": {
        "title": "Main",
        "back": "Back",
        "save": "Save",
        "name": "Name",
        "delete": "Delete",
        "creatingMain": "Creating Main...",
        "updatingMain": "Updating Main...",
        "deletingMain": "Deleting Main..."
    },

    /////////////////////////////////////////////
    // MAIN MODAL
    /////////////////////////////////////////////
    "mainModal": {
        "title": "Main",
        "close": "Close"
    },	
		
    /////////////////////////////////////////////
    // EMPLOYEE LIST
    /////////////////////////////////////////////
    "employeeList": {
        "title": "Employees",
        "logOut": "Log Out",
        "new": "New",
        "search": "live search",
        "firstName": "First Name",
        "lastName": "Last Name",
        "loading": "Loading Employees...",
        "noEmployees": "No Employees found."
    },

    /////////////////////////////////////////////
    // EMPLOYEE TILE
    /////////////////////////////////////////////
    "employeeTile": {
        "title": "Employees",
        "logOut": "Log Out",
        "new": "New",
        "search": "live search",
        "firstName": "First Name",
        "lastName": "Last Name",
        "loading": "Loading Employees...",
        "noEmployees": "No Employees found."
    },

    /////////////////////////////////////////////
    // EMPLOYEE DETAIL
    /////////////////////////////////////////////
    "employeeDetail": {
        "title": "Employee",
        "back": "Back",
        "save": "Save",
        "firstName": "First Name",
        "lastName": "Last Name",
        "phoneNumber": "Phone Number",
        "delete": "Delete",
        "creatingEmployee": "Creating Employee...",
        "updatingEmployee": "Updating Employee...",
        "deletingEmployee": "Deleting Employee..."
    }
}