/*
 * Config for values that belong to event and set at runtime
 *
 * Example to set a event value:
 * Core.config.event.Config.setMyLastCustomer(12345);
 *
 * Example to get a event value:
 * Core.config.event.Config.getMyLastCustomer();
 *
 */
Ext.define("Core.config.event.Config",{
    singleton : true,
    config : {
        //myLastCustomer : 0,     // initialize to 0
        id: 0,     				  // initialize to 0
        sessionId: '',            // initialize to empty
        keepMeLoggedIn: false,	  // initialize to false
		initialView: 'login',     // initialize to 'login'
        previousView: '',         // initialize to empty
        currentView: '',          // initialize to empty
        nextView: 'eventlist',   // initialize to empty
        ui: 'neutral',        	  // initialize to 'neutral'
        company: 'Your Company',  // initialize to 'Your Company'
		locale: 'en_us',	      // initialize to 'en_us'
		background: 'noise',      // initialize to 'noise'
		url: '',				  // initialize to ''
		title: '',				  // initialize to ''
		services: [{
			authentication:  [{
				mock: true
			}]
		},{
			background:  [{
				mock: true
			}]
		},{
			session:  [{
				mock: true,
				store: true
			}]
		},{
			title:  [{
				mock: true
			}]
		},{
			ui:  [{
				mock: true
			}]
		},{
			url:  [{
				mock: true
			}]
		},{
			company:  [{
				mock: true
			}]
		},{
			date:  [{
				mock: true,
				store: true
			}]
		},{
			group:  [{
				mock: true,
				store: true
			}]
		},{
			event:  [{
				mock: true,
				store: true
			}]
		}]	 // put your services here
    },
    constructor : function(config){
        this.initConfig(config);
    }
});