/* core stylesheet */
/* theme - golden rod */
/* Page */
#page {
  border: 5px solid #daa520;
  /* the base color */

  background-color: rgba(255, 255, 255, 0.5);
  /* to make it bright (90%) and readable, yet a bit transparent (50%) */

}
/* Menubar */
#menubar {
  background-color: #daa520;
  /* same as page border color */

}
/* Header Nav */
header nav#main_nav ul li.active {
  background: #ae8319;
  background-image: -moz-linear-gradient(#ae8319, #e4b849);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ae8319), to(#e4b849));
  filter: progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#ae8319, endColorstr=#e4b849, GradientType=0);
  /* fall back colour for other browsers */

  background-color: #ae8319;
}
/* Sub-nav */
dl.sub-nav dd.active a {
  background: #daa520;
  color: #fff;
}
/* Simple Search (sisea) */
.sisea-highlight {
  background-color: #20daa5;
}
.sisea-result a {
  color: #daa520;
}
/* Normal Buttons ---------------------- */
.button {
  background: #daa520;
  /* the base color */

  border: 1px solid #e4b849;
}
.button:hover {
  background-color: #e4b849;
}
