/* core stylesheet */
/* theme - dark slate gray */
/* Page */
#page {
  border: 5px solid #2f4f4f;
  /* the base color */

  background-color: rgba(255, 255, 255, 0.5);
  /* to make it bright (90%) and readable, yet a bit transparent (50%) */

}
/* Menubar */
#menubar {
  background-color: #2f4f4f;
  /* same as page border color */

}
/* Header Nav */
header nav#main_nav ul li.active {
  background: #1c2f2f;
  background-image: -moz-linear-gradient(#1c2f2f, #426f6f);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1c2f2f), to(#426f6f));
  filter: progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#1c2f2f, endColorstr=#426f6f, GradientType=0);
  /* fall back colour for other browsers */

  background-color: #1c2f2f;
}
/* Sub-nav */
dl.sub-nav dd.active a {
  background: #2f4f4f;
  color: #fff;
}
/* Simple Search (sisea) */
.sisea-highlight {
  background-color: #4f2f4f;
}
.sisea-result a {
  color: #2f4f4f;
}
/* Normal Buttons ---------------------- */
.button {
  background: #2f4f4f;
  /* the base color */

  border: 1px solid #426f6f;
}
.button:hover {
  background-color: #426f6f;
}
