/* core stylesheet */
/* theme - slate blue */
/* Page */
#page {
  border: 5px solid #6a5acd;
  /* the base color */

  background-color: rgba(255, 255, 255, 0.5);
  /* to make it bright (90%) and readable, yet a bit transparent (50%) */

}
/* Menubar */
#menubar {
  background-color: #6a5acd;
  /* same as page border color */

}
/* Header Nav */
header nav#main_nav ul li.active {
  background: #4b39bb;
  background-image: -moz-linear-gradient(#4b39bb, #8d81d9);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4b39bb), to(#8d81d9));
  filter: progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#4b39bb, endColorstr=#8d81d9, GradientType=0);
  /* fall back colour for other browsers */

  background-color: #4b39bb;
}
/* Sub-nav */
dl.sub-nav dd.active a {
  background: #6a5acd;
  color: #fff;
}
/* Simple Search (sisea) */
.sisea-highlight {
  background-color: #cd6a5a;
}
.sisea-result a {
  color: #6a5acd;
}
/* Normal Buttons ---------------------- */
.button {
  background: #6a5acd;
  /* the base color */

  border: 1px solid #8d81d9;
}
.button:hover {
  background-color: #8d81d9;
}
