{
    "success": true,
    "sessionToken": "qwerty1234567890",
	"bookings": [
		{ "kp_BookingID": 1,   "BookingName": "Alfa" },
		{ "kp_BookingID": 2,   "BookingName": "Bravo" },
		{ "kp_BookingID": 3,   "BookingName": "Charlie" },
		{ "kp_BookingID": 4,   "BookingName": "Delta" },
		{ "kp_BookingID": 5,   "BookingName": "Echo" },
		{ "kp_BookingID": 6,   "BookingName": "Foxtrot" },
		{ "kp_BookingID": 7,   "BookingName": "Golf" },
		{ "kp_BookingID": 8,   "BookingName": "Hotel" },
		{ "kp_BookingID": 9,   "BookingName": "India" },
		{ "kp_BookingID": 10,  "BookingName": "Juliet" },
		{ "kp_BookingID": 11,  "BookingName": "Kilo" },
		{ "kp_BookingID": 12,  "BookingName": "Lima" },
		{ "kp_BookingID": 13,  "BookingName": "Mike" },
		{ "kp_BookingID": 14,  "BookingName": "November" },
		{ "kp_BookingID": 15,  "BookingName": "Oscar" },
		{ "kp_BookingID": 16,  "BookingName": "Papa" },
		{ "kp_BookingID": 17,  "BookingName": "Quebec" },
		{ "kp_BookingID": 18,  "BookingName": "Romeo" },
		{ "kp_BookingID": 19,  "BookingName": "Sierra" },
		{ "kp_BookingID": 20,  "BookingName": "Tango" },
		{ "kp_BookingID": 21,  "BookingName": "Uniform" },
		{ "kp_BookingID": 22,  "BookingName": "Victor" },
		{ "kp_BookingID": 23,  "BookingName": "Whiskey" },
		{ "kp_BookingID": 24,  "BookingName": "X-ray" },
		{ "kp_BookingID": 25,  "BookingName": "Yankee" },
		{ "kp_BookingID": 26,  "BookingName": "Zulu" }
    ]
}
