{
    /////////////////////////////////////////////
    // LOGIN
    /////////////////////////////////////////////
    "login": {
        "title": "Anmelden",
        "username": "Benutzername",
        "password": "Kennwort",
        "passwordHint": "Hinweis: password",
        "keepmeloggedin": "Angemeldet bleiben",
        "submit": "Meld an",
        "reset": "Neu stellen",
        "loggingIn" : "Überprüfen...",
        "credentialsRequired": "Tragen Sie bitte Ihre Benutzername und Kennwort ein.",
        "loginFailed": "Anmelden hat gefählt. Bitte tragen Sie die richtige Daten ein."
    },

    /////////////////////////////////////////////
    // ORGANISATION SLIDE
    /////////////////////////////////////////////
    "organisationSlide": {
        "title": "Organisationen",
        "title1": "Organisationen1",	
        "title2": "Organisationen2",
        "title3": "Organisationen3",	
        "title4": "Organisationen4",			
        "logOut": "Abmelden",
        "new": "Neu",
        "search": "live suchen",
        "name": "Name",
        "loading": "Laad Organisationen...",
        "noMains": "Keine Organisationen wurden gefunden."
    },	
	
    /////////////////////////////////////////////
    // ORGANISATION LIST
    /////////////////////////////////////////////
    "organisationList": {
        "title": "Organisationen",
        "logOut": "Abmelden",
        "new": "Neu",
        "search": "live suchen",
        "name": "Name",
        "loading": "Laad Organisationen...",
        "noMains": "Keine Organisationen wurden gefunden."
    },

    /////////////////////////////////////////////
    // ORGANISATION TILE
    /////////////////////////////////////////////
    "organisationTile": {
        "title": "Organisationen",
        "logOut": "Abmelden",
        "new": "Neu",
        "search": "live suchen",
        "name": "Name",
        "loading": "Laad Organisationen...",
        "noMains": "Keine Organisationen wurden gefunden."
    },

    /////////////////////////////////////////////
    // ORGANISATION ITEMS
    /////////////////////////////////////////////
    "organisationItem1": {
        "title": "Item 1",
    },	
    "organisationItem2": {
        "title": "Item 2",
    },
    "organisationItem3": {
        "title": "Item 3",
    },		
    "organisationItem4": {
        "title": "Item 4",
    },	
	
    /////////////////////////////////////////////
    // ORGANISATION CATEGORIES
    /////////////////////////////////////////////
    "organisationCategory0": {
        "title": "Home",
    },
	
    /////////////////////////////////////////////
    // ORGANISATION DETAIL
    /////////////////////////////////////////////
    "organisationDetail": {
        "title": "Organisation",
        "back": "Zurück",
        "save": "Speichern",
        "name": "Name",
        "delete": "Löschen",
        "creatingMain": "Mach Organisation neu an ...",
        "updatingMain": "Bearbeit Organisation ...",
        "deletingMain": "Lösch Organisation..."
    },

    /////////////////////////////////////////////
    // ORGANISATION MODAL
    /////////////////////////////////////////////
    "organisationModal": {
        "title": "Organisation",
        "close": "schließen"
    }
}