{
    /////////////////////////////////////////////
    // LOGIN
    /////////////////////////////////////////////
    "login": {
        "title": "Login",
        "username": "Username",
        "password": "Password",
        "passwordHint": "Hint: password",
        "keepmeloggedin": "Keep me logged in",
        "submit": "Log In",
        "reset": "Clear",
        "loggingIn" : "Logging In...",
        "credentialsRequired": "Please enter your username and password.",
        "loginFailed": "Login failed. Please enter the correct credentials."
    },

    /////////////////////////////////////////////
    // ORGANISATION SLIDE
    /////////////////////////////////////////////
    "organisationSlide": {
        "title": "Organisations",
        "title1": "Organisations1",	
        "title2": "Organisations2",
        "title3": "Organisations3",	
        "title4": "Organisations4",			
        "logOut": "Log Out",
        "new": "New",
        "search": "live search",
        "organisationName": "Name",
        "loading": "Loading Organisations...",
        "noOrganisations": "No Organisations found."
    },	
	
    /////////////////////////////////////////////
    // ORGANISATION LIST
    /////////////////////////////////////////////
    "organisationList": {
        "title": "Organisations",
        "logOut": "Log Out",
        "new": "New",
        "search": "live search",
        "organisationName": "Name",
        "loading": "Loading Organisations...",
        "noOrganisations": "No Organisations found."
    },

    /////////////////////////////////////////////
    // ORGANISATION TILE
    /////////////////////////////////////////////
    "organisationTile": {
        "title": "Organisations",
        "logOut": "Log Out",
        "new": "New",
        "search": "live search",
        "organisationName": "Name",
        "loading": "Loading Organisations...",
        "noOrganisations": "No Organisations found."
    },

    /////////////////////////////////////////////
    // ORGANISATION ITEMS
    /////////////////////////////////////////////
    "organisationItem1": {
        "title": "Item 1",
    },	
    "organisationItem2": {
        "title": "Item 2",
    },
    "organisationItem3": {
        "title": "Item 3",
    },		
    "organisationItem4": {
        "title": "Item 4",
    },	
	
    /////////////////////////////////////////////
    // ORGANISATION CATEGORIES
    /////////////////////////////////////////////
    "organisationCategory0": {
        "title": "Home",
    },	
	
    /////////////////////////////////////////////
    // ORGANISATION CATEGORIES
    /////////////////////////////////////////////
    "organisationCategory0": {
        "title": "Home",
    },
		
    /////////////////////////////////////////////
    // ORGANISATION DETAIL
    /////////////////////////////////////////////
    "organisationDetail": {
        "title": "Organisation",
        "back": "Back",
        "save": "Save",
        "organisationName": "Name",
        "delete": "Delete",
        "creatingOrganisation": "Creating Organisation ...",
        "updatingOrganisation": "Updating Organisation ...",
        "deletingOrganisation": "Deleting Organisation..."
    },

    /////////////////////////////////////////////
    // ORGANISATION MODAL
    /////////////////////////////////////////////
    "organisationModal": {
        "title": "Organisation",
        "close": "Close"
    }
}