{
    /////////////////////////////////////////////
    // LOGIN
    /////////////////////////////////////////////
    "login": {
        "title": "Login",
        "username": "Gebruikersnaam",
        "password": "Wachtwoord",
        "passwordHint": "Hint: password",
        "keepmeloggedin": "Houd me ingelogd",
        "submit": "Log In",
        "reset": "Wissen",
        "loggingIn" : "Verifieren...",
        "credentialsRequired": "Voer alsjeblieft gebruikersnaam en wachtwoord in.",
        "loginFailed": "Login mislukt. Voer alsjeblieft de juiste gegevens in."
    },	

    /////////////////////////////////////////////
    // ORGANISATION SLIDE
    /////////////////////////////////////////////
    "organisationSlide": {
        "title": "Organisatie",
        "title1": "Organisatie1",	
        "title2": "Organisatie2",
        "title3": "Organisatie3",	
        "title4": "Organisatie4",			
        "logOut": "Log Uit",
        "new": "Nieuw",
        "search": "live zoeken",
        "name": "Naam",
        "loading": "Laad Organisatie...",
        "noOrganisations": "Geen Organisatie gevonden."
    },	
	
    /////////////////////////////////////////////
    // ORGANISATION LIST
    /////////////////////////////////////////////
    "organisationList": {
        "title": "Organisatie",
        "logOut": "Log Uit",
        "new": "Nieuw",
        "search": "live zoeken",
        "name": "Naam",
        "loading": "Laad Organisatie...",
        "noOrganisations": "Geen Organisatie gevonden."
    },

    /////////////////////////////////////////////
    // ORGANISATION TILE
    /////////////////////////////////////////////
    "organisationTile": {
        "title": "Organisatie",
        "logOut": "Log Uit",
        "new": "Nieuw",
        "search": "live zoeken",
        "name": "Naam",
        "loading": "Laad Organisatie...",
        "noOrganisations": "Geen Organisatie gevonden."
    },

    /////////////////////////////////////////////
    // ORGANISATION ITEMS
    /////////////////////////////////////////////
    "organisationItem1": {
        "title": "Item 1",
    },	
    "organisationItem2": {
        "title": "Item 2",
    },
    "organisationItem3": {
        "title": "Item 3",
    },		
    "organisationItem4": {
        "title": "Item 4",
    },	
	
    /////////////////////////////////////////////
    // ORGANISATION CATEGORIES
    /////////////////////////////////////////////
    "organisationCategory0": {
        "title": "Home",
    },
		
    /////////////////////////////////////////////
    // ORGANISATION DETAIL
    /////////////////////////////////////////////
    "organisationDetail": {
        "title": "Organisation",
        "back": "Terug",
        "save": "Bewaar",
        "name": "Naam",
        "delete": "Verwijder",
        "creatingOrganisation": "Maak Organisatie aan ...",
        "updatingOrganisation": "Werk Organisatie bij ...",
        "deletingOrganisation": "Verwijder Organisatie..."
    },

    /////////////////////////////////////////////
    // ORGANISATION MODAL
    /////////////////////////////////////////////
    "organisationModal": {
        "title": "Organisatie",
        "close": "Sluiten"
    }
}