{
    /////////////////////////////////////////////
    // LOGIN
    /////////////////////////////////////////////
    "login": {
        "title": "Anmelden",
        "username": "Benutzername",
        "password": "Kennwort",
        "passwordHint": "Hinweis: password",
        "keepmeloggedin": "Angemeldet bleiben",
        "submit": "Meld an",
        "reset": "Neu stellen",
        "loggingIn" : "Überprüfen...",
        "credentialsRequired": "Tragen Sie bitte Ihre Benutzername und Kennwort ein.",
        "loginFailed": "Anmelden hat gefählt. Bitte tragen Sie die richtige Daten ein."
    },

    /////////////////////////////////////////////
    // PERSON SLIDE
    /////////////////////////////////////////////
    "personSlide": {
        "title": "Personen",
        "title1": "Personen1",	
        "title2": "Personen2",
        "title3": "Personen3",	
        "title4": "Personen4",			
        "logOut": "Abmelden",
        "new": "Neu",
        "search": "live suchen",
		"salutationAbbreviation": "Anrede",
        "personFirstName": "Vorame",
        "personLastName": "Nachname",
        "loading": "Laad Personen...",
        "noPersons": "Keine Personen wurden gefunden."
    },	
	
    /////////////////////////////////////////////
    // PERSON LIST
    /////////////////////////////////////////////
    "personList": {
        "title": "Personen",
        "logOut": "Abmelden",
        "new": "Neu",
        "search": "live suchen",
		"salutationAbbreviation": "Anrede",
        "personFirstName": "Vorame",
        "personLastName": "Nachname",
        "loading": "Laad Personen...",
        "noPersons": "Keine Personen wurden gefunden."
    },

    /////////////////////////////////////////////
    // PERSON TILE
    /////////////////////////////////////////////
    "personTile": {
        "title": "Personen",
        "logOut": "Abmelden",
        "new": "Neu",
        "search": "live suchen",
		"salutationAbbreviation": "Anrede",
        "personFirstName": "Vorame",
        "personLastName": "Nachname",
		"gender": "Geschlecht",		
        "loading": "Laad Personen...",
        "noPersons": "Keine Personen wurden gefunden."
    },

    /////////////////////////////////////////////
    // PERSON ITEMS
    /////////////////////////////////////////////
    "personItem1": {
        "title": "Item 1"
    },	
    "personItem2": {
        "title": "Item 2"
    },
    "personItem3": {
        "title": "Item 3"
    },		
    "personItem4": {
        "title": "Item 4"
    },	
	
    /////////////////////////////////////////////
    // PERSON CATEGORIES
    /////////////////////////////////////////////
    "personCategory0": {
        "title": "Home"
    },
	
    /////////////////////////////////////////////
    // PERSON DETAIL
    /////////////////////////////////////////////
    "personDetail": {
        "title": "Person",
        "back": "Zurück",
        "save": "Speichern",
		"salutationAbbreviation": "Anrede",
        "personFirstName": "Vorame",
        "personLastName": "Nachname",
        "delete": "Löschen",
        "creatingPerson": "Mach Person neu an ...",
        "updatingPerson": "Bearbeit Person ...",
        "deletingPerson": "Lösch Person...",
		"readingSalutations": "Lese Anreden..."
    },

    /////////////////////////////////////////////
    // PERSON MODAL
    /////////////////////////////////////////////
    "personModal": {
        "title": "Person",
        "close": "schließen"
    }
}