{
    /////////////////////////////////////////////
    // LOGIN
    /////////////////////////////////////////////
    "login": {
        "title": "Login",
        "username": "Username",
        "password": "Password",
        "passwordHint": "Hint: password",
        "keepmeloggedin": "Keep me logged in",
        "submit": "Log In",
        "reset": "Clear",
        "loggingIn" : "Logging In...",
        "credentialsRequired": "Please enter your username and password.",
        "loginFailed": "Login failed. Please enter the correct credentials."
    },

    /////////////////////////////////////////////
    // PERSON SLIDE
    /////////////////////////////////////////////
    "personSlide": {
        "title": "Persons",
        "title1": "Persons1",	
        "title2": "Persons2",
        "title3": "Persons3",	
        "title4": "Persons4",			
        "logOut": "Log Out",
        "new": "New",
        "search": "live search",
        "name": "Name",
        "loading": "Loading Persons...",
        "noPersons": "No Persons found."
    },	
	
    /////////////////////////////////////////////
    // PERSON LIST
    /////////////////////////////////////////////
    "personList": {
        "title": "Persons",
        "logOut": "Log Out",
        "new": "New",
        "search": "live search",
        "name": "Name",
        "loading": "Loading Persons...",
        "noPersons": "No Persons found."
    },

    /////////////////////////////////////////////
    // PERSON TILE
    /////////////////////////////////////////////
    "personTile": {
        "title": "Persons",
        "logOut": "Log Out",
        "new": "New",
        "search": "live search",
        "name": "Name",
        "loading": "Loading Persons...",
        "noPersons": "No Persons found."
    },

    /////////////////////////////////////////////
    // PERSON ITEMS
    /////////////////////////////////////////////
    "personItem1": {
        "title": "Item 1",
    },	
    "personItem2": {
        "title": "Item 2",
    },
    "personItem3": {
        "title": "Item 3",
    },		
    "personItem4": {
        "title": "Item 4",
    },	
	
    /////////////////////////////////////////////
    // PERSON CATEGORIES
    /////////////////////////////////////////////
    "personCategory0": {
        "title": "Home",
    },
		
    /////////////////////////////////////////////
    // PERSON DETAIL
    /////////////////////////////////////////////
    "personDetail": {
        "title": "Person",
        "back": "Back",
        "save": "Save",
        "name": "Name",
        "delete": "Delete",
        "creatingPerson": "Creating Person ...",
        "updatingPerson": "Updating Person ...",
        "deletingPerson": "Deleting Person..."
    },

    /////////////////////////////////////////////
    // PERSON MODAL
    /////////////////////////////////////////////
    "personModal": {
        "title": "Person",
        "close": "Close"
    },
	
    /////////////////////////////////////////////
    // EMPLOYEE LIST
    /////////////////////////////////////////////
    "employeeList": {
        "title": "Employees",
        "logOut": "Log Out",
        "new": "New",
        "search": "live search",
        "firstName": "First Name",
        "lastName": "Last Name",
        "loading": "Loading Employees...",
        "noEmployees": "No Employees found."
    },

    /////////////////////////////////////////////
    // EMPLOYEE TILE
    /////////////////////////////////////////////
    "employeeTile": {
        "title": "Employees",
        "logOut": "Log Out",
        "new": "New",
        "search": "live search",
        "firstName": "First Name",
        "lastName": "Last Name",
        "loading": "Loading Employees...",
        "noEmployees": "No Employees found."
    },

    /////////////////////////////////////////////
    // EMPLOYEE DETAIL
    /////////////////////////////////////////////
    "employeeDetail": {
        "title": "Employee",
        "back": "Back",
        "save": "Save",
        "firstName": "First Name",
        "lastName": "Last Name",
        "phoneNumber": "Phone Number",
        "delete": "Delete",
        "creatingEmployee": "Creating Employee...",
        "updatingEmployee": "Updating Employee...",
        "deletingEmployee": "Deleting Employee..."
    }
}