{
    /////////////////////////////////////////////
    // LOGIN
    /////////////////////////////////////////////
    "login": {
        "title": "Login",
        "username": "Gebruikersnaam",
        "password": "Wachtwoord",
        "passwordHint": "Hint: password",
        "keepmeloggedin": "Houd me ingelogd",
        "submit": "Log In",
        "reset": "Wissen",
        "loggingIn" : "Verifieren...",
        "credentialsRequired": "Voer alsjeblieft gebruikersnaam en wachtwoord in.",
        "loginFailed": "Login mislukt. Voer alsjeblieft de juiste gegevens in."
    },	

    /////////////////////////////////////////////
    // PERSON SLIDE
    /////////////////////////////////////////////
    "personSlide": {
        "title": "Persoon",
        "title1": "Persoon1",	
        "title2": "Persoon2",
        "title3": "Persoon3",	
        "title4": "Persoon4",			
        "logOut": "Log Uit",
        "new": "Nieuw",
        "search": "live zoeken",
		"salutationAbbreviation": "Aanhef",
        "personFirstName": "Voornaam",
        "personLastName": "Achternaam",	
        "loading": "Laad Persoon...",
        "noPersons": "Geen Persoon gevonden."
    },	
	
    /////////////////////////////////////////////
    // PERSON LIST
    /////////////////////////////////////////////
    "personList": {
        "title": "Persoon",
        "logOut": "Log Uit",
        "new": "Nieuw",
        "search": "live zoeken",
		"salutationAbbreviation": "Aanhef",
        "personFirstName": "Voornaam",
        "personLastName": "Achternaam",		
        "loading": "Laad Persoon...",
        "noPersons": "Geen Persoon gevonden."
    },

    /////////////////////////////////////////////
    // PERSON TILE
    /////////////////////////////////////////////
    "personTile": {
        "title": "Persoon",
        "logOut": "Log Uit",
        "new": "Nieuw",
        "search": "live zoeken",
		"salutationAbbreviation": "Aanhef",
        "personFirstName": "Voornaam",
        "personLastName": "Achternaam",	
        "loading": "Laad Persoon...",
        "noPersons": "Geen Persoon gevonden."
    },

    /////////////////////////////////////////////
    // PERSON ITEMS
    /////////////////////////////////////////////
    "personItem1": {
        "title": "Item 1",
    },	
    "personItem2": {
        "title": "Item 2",
    },
    "personItem3": {
        "title": "Item 3",
    },		
    "personItem4": {
        "title": "Item 4",
    },	
	
    /////////////////////////////////////////////
    // PERSON CATEGORIES
    /////////////////////////////////////////////
    "personCategory0": {
        "title": "Home",
    },
		
    /////////////////////////////////////////////
    // PERSON DETAIL
    /////////////////////////////////////////////
    "personDetail": {
        "title": "Person",
        "back": "Terug",
        "save": "Bewaar",
		"salutationAbbreviation": "Aanhef",
        "personFirstName": "Voornaam",
        "personLastName": "Achternaam",	
        "delete": "Verwijder",
        "creatingPerson": "Maak Persoon aan ...",
        "updatingPerson": "Werk Persoon bij ...",
        "deletingPerson": "Verwijder Persoon..."
    },

    /////////////////////////////////////////////
    // PERSON MODAL
    /////////////////////////////////////////////
    "personModal": {
        "title": "Persoon",
        "close": "Sluiten"
    }
}