{
    /////////////////////////////////////////////
    // LOGIN
    /////////////////////////////////////////////
    "login": {
        "title": "Login",
        "username": "Gebruikersnaam",
        "password": "Wachtwoord",
        "passwordHint": "Hint: password",
        "keepmeloggedin": "Houd me ingelogd",
        "submit": "Log In",
        "reset": "Wissen",
        "loggingIn" : "Verifieren...",
        "credentialsRequired": "Voer alsjeblieft gebruikersnaam en wachtwoord in.",
        "loginFailed": "Login mislukt. Voer alsjeblieft de juiste gegevens in."
    },	

    /////////////////////////////////////////////
    // ASSET SLIDE
    /////////////////////////////////////////////
    "assetSlide": {
        "title": "Vermogen",
        "title1": "Vermogen1",	
        "title2": "Vermogen2",
        "title3": "Vermogen3",	
        "title4": "Vermogen4",			
        "logOut": "Log Uit",
        "new": "Nieuw",
        "search": "live zoeken",
        "assetName": "Naam",
        "loading": "Laad Vermogen...",
        "noAssets": "Geen Vermogen gevonden."
    },	
	
    /////////////////////////////////////////////
    // ASSET LIST
    /////////////////////////////////////////////
    "assetList": {
        "title": "Vermogen",
        "logOut": "Log Uit",
        "new": "Nieuw",
        "search": "live zoeken",
        "assetName": "Naam",	
        "loading": "Laad Vermogen...",
        "noAssets": "Geen Vermogen gevonden."
    },

    /////////////////////////////////////////////
    // ASSET TILE
    /////////////////////////////////////////////
    "assetTile": {
        "title": "Vermogen",
        "logOut": "Log Uit",
        "new": "Nieuw",
        "search": "live zoeken",
        "assetName": "Naam",	
        "loading": "Laad Vermogen...",
        "noAssets": "Geen Vermogen gevonden."
    },

    /////////////////////////////////////////////
    // ASSET ITEMS
    /////////////////////////////////////////////
    "assetItem1": {
        "title": "Item 1"
    },	
    "assetItem2": {
        "title": "Item 2"
    },
    "assetItem3": {
        "title": "Item 3"
    },		
    "assetItem4": {
        "title": "Item 4"
    },	
	
    /////////////////////////////////////////////
    // ASSET CATEGORIES
    /////////////////////////////////////////////
    "assetCategory0": {
        "title": "Home"
    },
		
    /////////////////////////////////////////////
    // ASSET DETAIL
    /////////////////////////////////////////////
    "assetDetail": {
        "title": "Asset",
        "back": "Terug",
        "save": "Bewaar",
        "assetName": "Naam",	
        "delete": "Verwijder",
        "creatingAsset": "Maak Vermogen aan ...",
        "updatingAsset": "Werk Vermogen bij ...",
        "deletingAsset": "Verwijder Vermogen..."	
    },

    /////////////////////////////////////////////
    // ASSET MODAL
    /////////////////////////////////////////////
    "assetModal": {
        "title": "Vermogen",
        "close": "Sluiten"
    }
}