/*
 * Config for values that can be globally get and set at runtime
 *
 * Example to set a global value:
 * Core.config.global.Config.setMyLastCustomer(12345);
 *
 * Example to get a global value:
 * Core.config.global.Config.getMyLastCustomer();
 *
 */
Ext.define("Core.config.global.Config",{
    singleton : true,
    config : {
        //myLastCustomer : 0,     // initialize to 0
        id: 0,     				  // initialize to 0
        sessionId: '',            // initialize to empty
        keepMeLoggedIn: false,	  // initialize to false
		initialView: 'login',     // initialize to 'login'
        previousView: '',         // initialize to empty
        currentView: '',          // initialize to empty
        nextView: '',    		  // initialize to empty
		currentApp: '',			  // initialize to empty
        ui: 'neutral',        	  // initialize to 'neutral'
        company: 'Your Company',  // initialize to 'Your Company'
		locale: 'en_us',	      // initialize to 'en_us'
		background: 'noise',      // initialize to 'noise'
		url: '',				  // initialize to ''
		groups: {},				  // initialize to {}
		categories: [{
			0: [{
				title: 'Home',
				group: '', // intentionally left empty, to avoid a group bar
				html: ['<center>',
					'<img src="./resources/logos/logo.png" />',
					'<h2>Welcome to Your Home Page</h2>',
					'<p>This page can be customized in whatever way you prefer.</p>',
					'</center>'].join("")
			}]
		}]		
    },
    constructor : function(config){
        this.initConfig(config);
    }
});