{
    /////////////////////////////////////////////
    // LOGIN
    /////////////////////////////////////////////
    "login": {
        "title": "Login",
        "username": "Gebruikersnaam",
        "password": "Wachtwoord",
        "passwordHint": "Hint: password",
        "keepmeloggedin": "Houd me ingelogd",
        "submit": "Log In",
        "reset": "Wissen",
        "loggingIn" : "Verifieren...",
        "credentialsRequired": "Voer alsjeblieft gebruikersnaam en wachtwoord in.",
        "loginFailed": "Login mislukt. Voer alsjeblieft de juiste gegevens in."
    },	

    /////////////////////////////////////////////
    // INDIVIDUAL SLIDE
    /////////////////////////////////////////////
    "individualSlide": {
        "title": "Individu",
        "title1": "Individu1",	
        "title2": "Individu2",
        "title3": "Individu3",	
        "title4": "Individu4",			
        "logOut": "Log Uit",
        "new": "Nieuw",
        "search": "live zoeken",
        "individualName": "Naam",
        "loading": "Laad Individu...",
        "noIndividuals": "Geen Individu gevonden."
    },	
	
    /////////////////////////////////////////////
    // INDIVIDUAL LIST
    /////////////////////////////////////////////
    "individualList": {
        "title": "Individu",
        "logOut": "Log Uit",
        "new": "Nieuw",
        "search": "live zoeken",
        "individualName": "Naam",	
        "loading": "Laad Individu...",
        "noIndividuals": "Geen Individu gevonden."
    },

    /////////////////////////////////////////////
    // INDIVIDUAL TILE
    /////////////////////////////////////////////
    "individualTile": {
        "title": "Individu",
        "logOut": "Log Uit",
        "new": "Nieuw",
        "search": "live zoeken",
        "individualName": "Naam",	
        "loading": "Laad Individu...",
        "noIndividuals": "Geen Individu gevonden."
    },

    /////////////////////////////////////////////
    // INDIVIDUAL ITEMS
    /////////////////////////////////////////////
    "individualItem1": {
        "title": "Item 1"
    },	
    "individualItem2": {
        "title": "Item 2"
    },
    "individualItem3": {
        "title": "Item 3"
    },		
    "individualItem4": {
        "title": "Item 4"
    },	
	
    /////////////////////////////////////////////
    // INDIVIDUAL CATEGORIES
    /////////////////////////////////////////////
    "individualCategory0": {
        "title": "Home"
    },
		
    /////////////////////////////////////////////
    // INDIVIDUAL DETAIL
    /////////////////////////////////////////////
    "individualDetail": {
        "title": "Individual",
        "back": "Terug",
        "save": "Bewaar",
        "individualName": "Naam",	
        "delete": "Verwijder",
        "creatingIndividual": "Maak Individu aan ...",
        "updatingIndividual": "Werk Individu bij ...",
        "deletingIndividual": "Verwijder Individu..."	
    },

    /////////////////////////////////////////////
    // INDIVIDUAL MODAL
    /////////////////////////////////////////////
    "individualModal": {
        "title": "Individu",
        "close": "Sluiten"
    }
}