#page{border:5px solid #a52a2a;background-color:rgba(255, 255, 255, 0.5);}
#menubar{background-color:#a52a2a;}
header nav#main_nav ul li.active{background:#7c2020;background-image:-moz-linear-gradient(#7c2020, #cc3636);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#7c2020), to(#cc3636));filter:progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#7c2020, endColorstr=#cc3636, GradientType=0);background-color:#7c2020;}
dl.sub-nav dd.active a{background:#a52a2a;color:#fff;}
.sisea-highlight{background-color:#2aa52a;}
.sisea-result a{color:#a52a2a;}
