#page{border:5px solid #d2b48c;background-color:rgba(255, 255, 255, 0.5);}
#menubar{background-color:#d2b48c;}
header nav#main_nav ul li.active{background:#c49c67;background-image:-moz-linear-gradient(#c49c67, #e0ccb1);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#c49c67), to(#e0ccb1));filter:progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#c49c67, endColorstr=#e0ccb1, GradientType=0);background-color:#c49c67;}
dl.sub-nav dd.active a{background:#d2b48c;color:#fff;}
.sisea-highlight{background-color:#8cd2b4;}
.sisea-result a{color:#d2b48c;}
