#page{border:5px solid #ff69b4;background-color:rgba(255, 255, 255, 0.5);}
#menubar{background-color:#ff69b4;}
header nav#main_nav ul li.active{background:#ff369b;background-image:-moz-linear-gradient(#ff369b, #ff9cce);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff369b), to(#ff9cce));filter:progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#ff369b, endColorstr=#ff9cce, GradientType=0);background-color:#ff369b;}
dl.sub-nav dd.active a{background:#ff69b4;color:#fff;}
.sisea-highlight{background-color:#b4ff69;}
.sisea-result a{color:#ff69b4;}
