/* core stylesheet */
/* theme - dark golden rod */
/* Page */
#page {
  border: 5px solid #b8860b;
  /* the base color */

  background-color: rgba(255, 255, 255, 0.5);
  /* to make it bright (90%) and readable, yet a bit transparent (50%) */

}
/* Menubar */
#menubar {
  background-color: #b8860b;
  /* same as page border color */

}
/* Header Nav */
header nav#main_nav ul li.active {
  background: #886308;
  background-image: -moz-linear-gradient(#886308, #e8a90e);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#886308), to(#e8a90e));
  filter: progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#886308, endColorstr=#e8a90e, GradientType=0);
  /* fall back colour for other browsers */

  background-color: #886308;
}
/* Sub-nav */
dl.sub-nav dd.active a {
  background: #b8860b;
  color: #fff;
}
/* Simple Search (sisea) */
.sisea-highlight {
  background-color: #0bb886;
}
.sisea-result a {
  color: #b8860b;
}
/* Normal Buttons ---------------------- */
.button {
  background: #b8860b;
  /* the base color */

  border: 1px solid #e8a90e;
}
.button:hover {
  background-color: #e8a90e;
}
