#page{border:5px solid #f5f5f5;background-color:rgba(255, 255, 255, 0.5);}
#menubar{background-color:#f5f5f5;}
header nav#main_nav ul li.active{background:#dcdcdc;background-image:-moz-linear-gradient(#dcdcdc, #ffffff);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#dcdcdc), to(#ffffff));filter:progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#dcdcdc, endColorstr=#ffffff, GradientType=0);background-color:#dcdcdc;}
dl.sub-nav dd.active a{background:#f5f5f5;color:#fff;}
.sisea-highlight{background-color:#f5f5f5;}
.sisea-result a{color:#f5f5f5;}
