#page{border:5px solid #98fb98;background-color:rgba(255, 255, 255, 0.5);}
#menubar{background-color:#98fb98;}
header nav#main_nav ul li.active{background:#67f967;background-image:-moz-linear-gradient(#67f967, #c9fdc9);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#67f967), to(#c9fdc9));filter:progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#67f967, endColorstr=#c9fdc9, GradientType=0);background-color:#67f967;}
dl.sub-nav dd.active a{background:#98fb98;color:#fff;}
.sisea-highlight{background-color:#9898fb;}
.sisea-result a{color:#98fb98;}
