#page{border:5px solid #6495ed;background-color:rgba(255, 255, 255, 0.5);}
#menubar{background-color:#6495ed;}
header nav#main_nav ul li.active{background:#3676e8;background-image:-moz-linear-gradient(#3676e8, #92b4f2);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#3676e8), to(#92b4f2));filter:progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#3676e8, endColorstr=#92b4f2, GradientType=0);background-color:#3676e8;}
dl.sub-nav dd.active a{background:#6495ed;color:#fff;}
.sisea-highlight{background-color:#ed6495;}
.sisea-result a{color:#6495ed;}
