#page{border:5px solid #7fffd4;background-color:rgba(255, 255, 255, 0.5);}
#menubar{background-color:#7fffd4;}
header nav#main_nav ul li.active{background:#4cffc3;background-image:-moz-linear-gradient(#4cffc3, #b2ffe5);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4cffc3), to(#b2ffe5));filter:progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#4cffc3, endColorstr=#b2ffe5, GradientType=0);background-color:#4cffc3;}
dl.sub-nav dd.active a{background:#7fffd4;color:#fff;}
.sisea-highlight{background-color:#d47fff;}
.sisea-result a{color:#7fffd4;}
