#page{border:5px solid #f5fffa;background-color:rgba(255, 255, 255, 0.5);}
#menubar{background-color:#f5fffa;}
header nav#main_nav ul li.active{background:#c2ffe0;background-image:-moz-linear-gradient(#c2ffe0, #ffffff);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#c2ffe0), to(#ffffff));filter:progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#c2ffe0, endColorstr=#ffffff, GradientType=0);background-color:#c2ffe0;}
dl.sub-nav dd.active a{background:#f5fffa;color:#fff;}
.sisea-highlight{background-color:#faf5ff;}
.sisea-result a{color:#f5fffa;}
