#page{border:5px solid #9acd32;background-color:rgba(255, 255, 255, 0.5);}
#menubar{background-color:#9acd32;}
header nav#main_nav ul li.active{background:#7ba428;background-image:-moz-linear-gradient(#7ba428, #aed75b);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#7ba428), to(#aed75b));filter:progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#7ba428, endColorstr=#aed75b, GradientType=0);background-color:#7ba428;}
dl.sub-nav dd.active a{background:#9acd32;color:#fff;}
.sisea-highlight{background-color:#329acd;}
.sisea-result a{color:#9acd32;}
