#page{border:5px solid #c0c0c0;background-color:rgba(255, 255, 255, 0.5);}
#menubar{background-color:#c0c0c0;}
header nav#main_nav ul li.active{background:#a7a7a7;background-image:-moz-linear-gradient(#a7a7a7, #dadada);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#a7a7a7), to(#dadada));filter:progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#a7a7a7, endColorstr=#dadada, GradientType=0);background-color:#a7a7a7;}
dl.sub-nav dd.active a{background:#c0c0c0;color:#fff;}
.sisea-highlight{background-color:#c0c0c0;}
.sisea-result a{color:#c0c0c0;}
