#page{border:5px solid #ffdab9;background-color:rgba(255, 255, 255, 0.5);}
#menubar{background-color:#ffdab9;}
header nav#main_nav ul li.active{background:#ffbf86;background-image:-moz-linear-gradient(#ffbf86, #fff5ec);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffbf86), to(#fff5ec));filter:progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#ffbf86, endColorstr=#fff5ec, GradientType=0);background-color:#ffbf86;}
dl.sub-nav dd.active a{background:#ffdab9;color:#fff;}
.sisea-highlight{background-color:#b9ffda;}
.sisea-result a{color:#ffdab9;}
