#page{border:5px solid #e0ffff;background-color:rgba(255, 255, 255, 0.5);}
#menubar{background-color:#e0ffff;}
header nav#main_nav ul li.active{background:#adffff;background-image:-moz-linear-gradient(#adffff, #ffffff);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#adffff), to(#ffffff));filter:progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#adffff, endColorstr=#ffffff, GradientType=0);background-color:#adffff;}
dl.sub-nav dd.active a{background:#e0ffff;color:#fff;}
.sisea-highlight{background-color:#ffe0ff;}
.sisea-result a{color:#e0ffff;}
