#page{border:5px solid #556b2f;background-color:rgba(255, 255, 255, 0.5);}
#menubar{background-color:#556b2f;}
header nav#main_nav ul li.active{background:#39481f;background-image:-moz-linear-gradient(#39481f, #718e3f);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#39481f), to(#718e3f));filter:progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#39481f, endColorstr=#718e3f, GradientType=0);background-color:#39481f;}
dl.sub-nav dd.active a{background:#556b2f;color:#fff;}
.sisea-highlight{background-color:#2f556b;}
.sisea-result a{color:#556b2f;}
