/* core stylesheet */
/* theme - olive drab */
/* Page */
#page {
  border: 5px solid #6b8e23;
  /* the base color */

  background-color: rgba(255, 255, 255, 0.5);
  /* to make it bright (90%) and readable, yet a bit transparent (50%) */

}
/* Menubar */
#menubar {
  background-color: #6b8e23;
  /* same as page border color */

}
/* Header Nav */
header nav#main_nav ul li.active {
  background: #4c6519;
  background-image: -moz-linear-gradient(#4c6519, #8ab72d);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c6519), to(#8ab72d));
  filter: progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#4c6519, endColorstr=#8ab72d, GradientType=0);
  /* fall back colour for other browsers */

  background-color: #4c6519;
}
/* Sub-nav */
dl.sub-nav dd.active a {
  background: #6b8e23;
  color: #fff;
}
/* Simple Search (sisea) */
.sisea-highlight {
  background-color: #236b8e;
}
.sisea-result a {
  color: #6b8e23;
}
/* Normal Buttons ---------------------- */
.button {
  background: #6b8e23;
  /* the base color */

  border: 1px solid #8ab72d;
}
.button:hover {
  background-color: #8ab72d;
}
