/* core stylesheet */
/* theme - dark khaki */
/* Page */
#page {
  border: 5px solid #bdb76b;
  /* the base color */

  background-color: rgba(255, 255, 255, 0.5);
  /* to make it bright (90%) and readable, yet a bit transparent (50%) */

}
/* Menubar */
#menubar {
  background-color: #bdb76b;
  /* same as page border color */

}
/* Header Nav */
header nav#main_nav ul li.active {
  background: #a9a34c;
  background-image: -moz-linear-gradient(#a9a34c, #cdc88e);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a9a34c), to(#cdc88e));
  filter: progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#a9a34c, endColorstr=#cdc88e, GradientType=0);
  /* fall back colour for other browsers */

  background-color: #a9a34c;
}
/* Sub-nav */
dl.sub-nav dd.active a {
  background: #bdb76b;
  color: #fff;
}
/* Simple Search (sisea) */
.sisea-highlight {
  background-color: #6bbdb7;
}
.sisea-result a {
  color: #bdb76b;
}
/* Normal Buttons ---------------------- */
.button {
  background: #bdb76b;
  /* the base color */

  border: 1px solid #cdc88e;
}
.button:hover {
  background-color: #cdc88e;
}
