/* core stylesheet */
/* theme - orange red */
/* Page */
#page {
  border: 5px solid #ff4500;
  /* the base color */

  background-color: rgba(255, 255, 255, 0.5);
  /* to make it bright (90%) and readable, yet a bit transparent (50%) */

}
/* Menubar */
#menubar {
  background-color: #ff4500;
  /* same as page border color */

}
/* Header Nav */
header nav#main_nav ul li.active {
  background: #cc3700;
  background-image: -moz-linear-gradient(#cc3700, #ff6a33);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cc3700), to(#ff6a33));
  filter: progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#cc3700, endColorstr=#ff6a33, GradientType=0);
  /* fall back colour for other browsers */

  background-color: #cc3700;
}
/* Sub-nav */
dl.sub-nav dd.active a {
  background: #ff4500;
  color: #fff;
}
/* Simple Search (sisea) */
.sisea-highlight {
  background-color: #00ff45;
}
.sisea-result a {
  color: #ff4500;
}
/* Normal Buttons ---------------------- */
.button {
  background: #ff4500;
  /* the base color */

  border: 1px solid #ff6a33;
}
.button:hover {
  background-color: #ff6a33;
}
