#page{border:5px solid #ffa07a;background-color:rgba(255, 255, 255, 0.5);}
#menubar{background-color:#ffa07a;}
header nav#main_nav ul li.active{background:#ff7c47;background-image:-moz-linear-gradient(#ff7c47, #ffc4ad);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff7c47), to(#ffc4ad));filter:progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#ff7c47, endColorstr=#ffc4ad, GradientType=0);background-color:#ff7c47;}
dl.sub-nav dd.active a{background:#ffa07a;color:#fff;}
.sisea-highlight{background-color:#7affa0;}
.sisea-result a{color:#ffa07a;}
