/* core stylesheet */
/* theme - navajo white */
/* Page */
#page {
  border: 5px solid #ffdead;
  /* the base color */

  background-color: rgba(255, 255, 255, 0.5);
  /* to make it bright (90%) and readable, yet a bit transparent (50%) */

}
/* Menubar */
#menubar {
  background-color: #ffdead;
  /* same as page border color */

}
/* Header Nav */
header nav#main_nav ul li.active {
  background: #ffc97a;
  background-image: -moz-linear-gradient(#ffc97a, #fff3e0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffc97a), to(#fff3e0));
  filter: progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#ffc97a, endColorstr=#fff3e0, GradientType=0);
  /* fall back colour for other browsers */

  background-color: #ffc97a;
}
/* Sub-nav */
dl.sub-nav dd.active a {
  background: #ffdead;
  color: #fff;
}
/* Simple Search (sisea) */
.sisea-highlight {
  background-color: #adffde;
}
.sisea-result a {
  color: #ffdead;
}
/* Normal Buttons ---------------------- */
.button {
  background: #ffdead;
  /* the base color */

  border: 1px solid #fff3e0;
}
.button:hover {
  background-color: #fff3e0;
}
