/* core stylesheet */
/* theme - slate gray */
/* Page */
#page {
  border: 5px solid #708090;
  /* the base color */

  background-color: rgba(255, 255, 255, 0.5);
  /* to make it bright (90%) and readable, yet a bit transparent (50%) */

}
/* Menubar */
#menubar {
  background-color: #708090;
  /* same as page border color */

}
/* Header Nav */
header nav#main_nav ul li.active {
  background: #5a6673;
  background-image: -moz-linear-gradient(#5a6673, #8d9aa6);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5a6673), to(#8d9aa6));
  filter: progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#5a6673, endColorstr=#8d9aa6, GradientType=0);
  /* fall back colour for other browsers */

  background-color: #5a6673;
}
/* Sub-nav */
dl.sub-nav dd.active a {
  background: #708090;
  color: #fff;
}
/* Simple Search (sisea) */
.sisea-highlight {
  background-color: #907080;
}
.sisea-result a {
  color: #708090;
}
/* Normal Buttons ---------------------- */
.button {
  background: #708090;
  /* the base color */

  border: 1px solid #8d9aa6;
}
.button:hover {
  background-color: #8d9aa6;
}
