#page{border:5px solid #f0e68c;background-color:rgba(255, 255, 255, 0.5);}
#menubar{background-color:#f0e68c;}
header nav#main_nav ul li.active{background:#eadc5f;background-image:-moz-linear-gradient(#eadc5f, #f6f0b9);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#eadc5f), to(#f6f0b9));filter:progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#eadc5f, endColorstr=#f6f0b9, GradientType=0);background-color:#eadc5f;}
dl.sub-nav dd.active a{background:#f0e68c;color:#fff;}
.sisea-highlight{background-color:#8cf0e6;}
.sisea-result a{color:#f0e68c;}
