#page{border:5px solid #dda0dd;background-color:rgba(255, 255, 255, 0.5);}
#menubar{background-color:#dda0dd;}
header nav#main_nav ul li.active{background:#d07ad0;background-image:-moz-linear-gradient(#d07ad0, #eac6ea);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#d07ad0), to(#eac6ea));filter:progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#d07ad0, endColorstr=#eac6ea, GradientType=0);background-color:#d07ad0;}
dl.sub-nav dd.active a{background:#dda0dd;color:#fff;}
.sisea-highlight{background-color:#dddda0;}
.sisea-result a{color:#dda0dd;}
