#page{border:5px solid #b0e0e6;background-color:rgba(255, 255, 255, 0.5);}
#menubar{background-color:#b0e0e6;}
header nav#main_nav ul li.active{background:#89d1da;background-image:-moz-linear-gradient(#89d1da, #d7eff2);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#89d1da), to(#d7eff2));filter:progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#89d1da, endColorstr=#d7eff2, GradientType=0);background-color:#89d1da;}
dl.sub-nav dd.active a{background:#b0e0e6;color:#fff;}
.sisea-highlight{background-color:#e6b0e0;}
.sisea-result a{color:#b0e0e6;}
