/* core stylesheet */
/* theme - indigo */
/* Page */
#page {
  border: 5px solid #4b0082;
  /* the base color */

  background-color: rgba(255, 255, 255, 0.5);
  /* to make it bright (90%) and readable, yet a bit transparent (50%) */

}
/* Menubar */
#menubar {
  background-color: #4b0082;
  /* same as page border color */

}
/* Header Nav */
header nav#main_nav ul li.active {
  background: #2e004f;
  background-image: -moz-linear-gradient(#2e004f, #6800b5);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2e004f), to(#6800b5));
  filter: progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#2e004f, endColorstr=#6800b5, GradientType=0);
  /* fall back colour for other browsers */

  background-color: #2e004f;
}
/* Sub-nav */
dl.sub-nav dd.active a {
  background: #4b0082;
  color: #fff;
}
/* Simple Search (sisea) */
.sisea-highlight {
  background-color: #824b00;
}
.sisea-result a {
  color: #4b0082;
}
/* Normal Buttons ---------------------- */
.button {
  background: #4b0082;
  /* the base color */

  border: 1px solid #6800b5;
}
.button:hover {
  background-color: #6800b5;
}
