#page{border:5px solid #adff2f;background-color:rgba(255, 255, 255, 0.5);}
#menubar{background-color:#adff2f;}
header nav#main_nav ul li.active{background:#98fb00;background-image:-moz-linear-gradient(#98fb00, #c1ff62);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#98fb00), to(#c1ff62));filter:progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#98fb00, endColorstr=#c1ff62, GradientType=0);background-color:#98fb00;}
dl.sub-nav dd.active a{background:#adff2f;color:#fff;}
.sisea-highlight{background-color:#2fadff;}
.sisea-result a{color:#adff2f;}
