/* core stylesheet */
/* theme - purple */
/* Page */
#page {
  border: 5px solid #800080;
  /* the base color */

  background-color: rgba(255, 255, 255, 0.5);
  /* to make it bright (90%) and readable, yet a bit transparent (50%) */

}
/* Menubar */
#menubar {
  background-color: #800080;
  /* same as page border color */

}
/* Header Nav */
header nav#main_nav ul li.active {
  background: #4d004d;
  background-image: -moz-linear-gradient(#4d004d, #b300b3);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4d004d), to(#b300b3));
  filter: progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#4d004d, endColorstr=#b300b3, GradientType=0);
  /* fall back colour for other browsers */

  background-color: #4d004d;
}
/* Sub-nav */
dl.sub-nav dd.active a {
  background: #800080;
  color: #fff;
}
/* Simple Search (sisea) */
.sisea-highlight {
  background-color: #808000;
}
.sisea-result a {
  color: #800080;
}
/* Normal Buttons ---------------------- */
.button {
  background: #800080;
  /* the base color */

  border: 1px solid #b300b3;
}
.button:hover {
  background-color: #b300b3;
}
