#page{border:5px solid #ffefd5;background-color:rgba(255, 255, 255, 0.5);}
#menubar{background-color:#ffefd5;}
header nav#main_nav ul li.active{background:#ffdca2;background-image:-moz-linear-gradient(#ffdca2, #ffffff);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffdca2), to(#ffffff));filter:progid:dximagetransform.microsoft.gradient(enabled='true', startColorstr=#ffdca2, endColorstr=#ffffff, GradientType=0);background-color:#ffdca2;}
dl.sub-nav dd.active a{background:#ffefd5;color:#fff;}
.sisea-highlight{background-color:#d5ffef;}
.sisea-result a{color:#ffefd5;}
