module.exports.configs = {
	host : 'vanheemstrapictures.com', // put your host name here
	server_port : 11080, // put your server port number here	
	server_prefix: 'CORE', // put your server prefix here (e.g. 'CORE')		
	app_port : 4000, // put your port number here
	app_gid : 'root', // put your group id here
	app_uid : 'root', // put your user id here
	app_list: {
		'person':true,
		'organisation':true,
		'product':true,
		'booking':true
	}, // put your apps here
	api_port : 4001, // put your port number here
	api_gid : 'root', // put your group id here
	api_uid : 'root', // put your user id here	
	api_list: {}, // put your apis here
	action_list: {
		'read':true,
		'write':true
	}, // put your actions here	
	allow_cross_domain : true, // allow is true, otherwise false
	allowedHosts : {
		'http://vanheemstrapictures.com': true,
		'localhost': true,
		'localhost:4000': true
	},
	title : 'Your Company', // put the page title here
	web_root : '/core/public' // put your web root here, starting with a slash forward (/)
}