module.exports.configs = {
	host : 'vanheemstrapictures.com', // put your host name here
	server_port : 11080, // put your server port number here	
	app_port : 4000, // put your port number here
	app_gid : 'root', // put your group id here
	app_uid : 'root', // put your user id here
	api_port : 4001, // put your port number here
	api_gid : 'root', // put your group id here
	api_uid : 'root', // put your user id here	
	allow_cross_domain : true, // allow is true, otherwise false
	allowedHost : {
		'http://vanheemstrapictures.com': true,
		'localhost': true
	},
	title : 'Your Company', // put the page title here
	web_root : '/core/public' // put your web root here, starting with a slash forward (/)
}