!!! 5
html(lang="en")
  head
    title Client-side Jade demo
    script(src="http://code.jquery.com/jquery-1.5.min.js")
    script(src="assets/templates/core/javascripts/jade/jade.min.js")
    script(src="assets/templates/core/javascripts/letsrender.js")
  body
    h1 Let's render something